* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
  color: azure;
  background-color: dimgray;
}

header {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
}

.reset {
  font-size: 3rem;
  color: darkslategray;
  background-color: azure;
  margin: 0.5rem;
}

/* Main */
.app {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 1fr, repeat(2, 1fr);
  grid-template-areas:
    'a a a'
    'b c d'
    'e f g';
}

.command--display {
  font-size: 3rem;
  color: darkslategrey;
  background-color: azure;
  grid-area: a;
  margin: 1rem;
  padding: 5rem, 0, 1rem, 2rem;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  text-align: center;
}

/* Game tiles */
.tile {
  width: 100%;
  display: block;
  align-items: stretch;
  font-size: 3rem;
  margin: 1.5rem 1.5rem 0rem 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 3rem;

  color: azure;
}

.tile--red {
  grid-area: b;
  background-color: red;
}

.tile--blue {
  grid-area: c;
  background-color: blue;
}

.tile--yellow {
  grid-area: d;
  background-color: gold;
}

.tile--purple {
  grid-area: e;
  background-color: purple;
}

.tile--pink {
  grid-area: f;
  background-color: pink;
}

.tile--brown {
  grid-area: g;
  background-color: brown;
}
